/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 

*/

.signupContent
{
    margin-left: 170px;
    text-align: left;
}
#patientField
{
    margin-left: 390px;
    text-align: left;
}
.h1signUp
{
    margin-bottom: 50px;
}
.details
{
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: lighter;
}
.row
{
    margin-bottom: 20px
}
.btnCfm
{
    float: right;
    margin-right: 210px;
}
#btnEdit
{
    margin-top: 30px;
}
#btnUpdate, #btnCancel
{
    display: none;
}
.form-check-label
{
    margin-right: 200px;
}