/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 

*/

.signupContent
{
    margin-left: 170px;
    text-align: left;
}
.h1signUp
{
    margin-bottom: 50px;
}
.details
{
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: lighter;
}
.row
{
    margin-bottom: 20px
}
.btnCfm
{
    float: right;
    margin-right: 210px;
}
#btnUpdate, #btnCancel
{
    display: none;
}
#editRow1, #editRow2, #editRow3
{
    justify-content: center;
    margin-bottom: 80px;
    text-align: center;
}
.form-check-label
{
    margin-right: 200px;
}